h1 {
  color: var(--main-font-color);
  font-weight: bold;
}

h3 {
  color: var(--main-font-color);
  font-weight: medium;
}

.primary-text {
  color: var(--main-font-color);
  font-weight: 500;
}

.secondary-text {
  color: var(--secondary-font-color);
  font-weight: 400;
}