.groupBy {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  width: min(700px, 100%);
}
