/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {

  /* Color Pallet */
  --background-color: #f5f5f5;
  --secondary-background-color: #e8e8e8;

  --main-font-color: #3a3a3a;
  --secondary-font-color: hsl(0, 0%, 40%);

  --focus-color: #0080ff;
  --hover-color: hsl(210, 100%, 86%);
  --support-color: #929292;

  /* Base font size */
  font-size: 18px;
}

body {
  margin: 0;
  padding: 30px max(15vw, 20px);

  background-color: var(--background-color);

  font-family: 'Ubuntu', Verdana, sans-serif;
}
